<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="login_gate_restriction" instance="OuterEdge\LoginGate\Observer\Restrict" />
    </event>
</config>
